.phone-parts-container {
   
    background: #f5f5f5;
    min-height: 100vh;
  }
  
  .phone-parts-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .phone-parts-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .phone-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
  }
  
  .phone-container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  
  .phone-container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
  }
  
  .phone-container .card:hover .content {
    transform: translateY(-20px);
  }
  
  .phone-container .card .content .imgBx {
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
  }
  
  .phone-container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .phone-container .card .content .contentBx h3 {
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  .phone-container .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 500;
    text-transform: initial;
  }
  
  .phone-container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
  }
  
  .phone-container .card .sci p {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
  }
  
  .phone-container .card:hover .sci p {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .phone-container .card .sci p  {
    color: rgb(63, 63, 63);
    font-size: 17px;
  }