.details-body{
    background: url("https://cdn.shopify.com/s/files/1/0104/6917/9492/files/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9.jpg?v=1554974918");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}
/* .accordion{
    background-color: black;
} */


@media screen and (max-width: 850px) {
    .details-body{
        height: 100%;
    }
    /* .banner-text h5{
      font-size: 20px;
      }
      .banner-text h1{
        font-size: 35px;
      } */
  }